node_modules/
*/.next
*.log
*/node_modules
*/packges/*/public/manifest/
*/packages/*/.next
packages/next-offline/register-sw-compiled.js
packages/tests/public/manifest/
packages/tests/public/manifest
packages/tests/.next/
packages/now1-example/.next
packages/now2-example/.next
packages/next-export-example/.next
packages/next-export-example/out